[submodule "coffeeswap-contracts/lib/forge-std"]
	path = coffeeswap-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "coffeeswap-contracts/lib/openzeppelin-contracts"]
	path = coffeeswap-contracts/lib/openzeppelin-contracts
	url = https://github.com/openZeppelin/openzeppelin-contracts
